PORT=3333
NODE_ENV=development
APP_URL=http://localhost:5173
JWT_SECRET=troque-esta-chave
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hotel_erp
DB_USER=postgres
DB_PASSWORD=postgres
FISCAL_ENV=homologacao
SEFAZ_UF=SP
CERT_PASSWORD=
SEFAZ_NFE_HOMOLOG_URL=https://hom.nfe.fazenda.gov.br/ws/NFeAutorizacao4
SEFAZ_NFE_PRODUCAO_URL=https://www.nfe.fazenda.gov.br/ws/NFeAutorizacao4
SEFAZ_NFCE_HOMOLOG_URL=https://hom.nfce.fazenda.gov.br/ws/NFeAutorizacao4
SEFAZ_NFCE_PRODUCAO_URL=https://www.nfce.fazenda.gov.br/ws/NFeAutorizacao4
TRUST_PROXY=false
